
@import '_globals.scss';


$colors: (
  Desaturated Dark Cyan: hsl(180, 29%, 50%),

);
$fallback-color: (
  CadetBlue, 
);

@mixin font-color($color, $fallback-color) {
  color: $fallback-color;
  color: $color;
}

@mixin bg-color($color, $fallback-color) {
  background-color: $fallback-color;
  background-color: $color;
}


@mixin border-radius($radius...) {
  border-radius: $radius;
}
@mixin margin($args...) {
  margin: $args;
}
@mixin padding($args...) {
  padding: $args;
}


html{
  box-sizing: border-box; 
}
*,
::before,
::after {
  box-sizing: inherit;
}
body{
  font: {
    //default 16 px/1rem.
    size: 1.2rem;
    weight: $font_weight-normal;
    
  }
}
.top-z-index{
  //needed for z-index.
  position: relative;
  z-index: 1;
  opacity:1;
}
.svg-outer{
    max-width:10%;
    max-height:10%;
    @media screen and (min-width:768px){
      max-width: 30%;
      max-height: 30%;
    }
}
.svg-100{
  width:100%;
  height:100%;
}
.outer{
      
      @include margin(5em 0);
      header{
          input[type='search']{
              border:none;
              /* &::-webkit-search-cancel-button,&::-moz-search-cancel-button,&::-ms-search-cancel-button,&::-o-search-cancel-button,&::-search-cancel-button{
                 display:none;
              }*/
              &::-webkit-search-cancel-button{
                -webkit-appearance: none;
                height: 1em;
                width: 1em;
                background:green url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
                background-size: cover;
                color:white;
              }
          }
          .clearButton{
              position:absolute;
              width: 100px;
              right:1em;
          }
      }
      section,header{
          @include padding(2em 1em);
          @include margin(1em 0);
          @media screen and(min-width:768px){
              @include padding(3em 2em);
              @include margin(2em 3em);
          }
          
      }
   

      footer {  
        .attribution {
          font-size: $font_size-8;
          text-align: center;
        }
      }
}